.container {
    border: 1px solid black;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}
.activity_container {
    border: 1px solid black;
    width: 200px;
    margin: 20px auto;
    padding: 10px 0;
}