.container {
    border: 1px solid black;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

/*************************/
/* Index page 
/*************************/
.main-title {
    text-align: center;
}

/*************************/
/* common
/*************************/
.btn {
    margin: 10px;
    padding: 10px 25px;
}

.activity-component,
.schedule-component {
    border: 1px solid black;
    margin: 25px;
}

/*************************/
/* activity component
/*************************/
.activity-component span {
    display: block;
}

/*************************/
/* schedule component
/*************************/
.schedule-sortables {
    border: 1px solid black;
    margin: 25px;
    padding: 10px;
}

/*************************/
/* session component
/*************************/
.sessions-component {
    border: 1px solid black;
    margin: 25px;
}
.sessions-sortables {
    border: 1px solid black;
    padding: 10px;
    margin: 0 25px;
}
