.container {
  border: 1px solid black;
  width: 400px;
  margin: 50px auto;
  text-align: center;
}
.view-item {
  border: 1px solid black;
  margin: 20px 40px;
}

button {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: green;
  border: 1px solid green;
  padding: 5px 20px;
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}